<div input-field>
  <label>Birth weight</label>
  <input 
    name="birth" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 1 month</label>
  <input 
    name="month1" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 2 months</label>
  <input 
    name="month2" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 4 months</label>
  <input 
  name="month4" 
  type="text" 
  ng-model="dummyInputs.inputFieldInput" 
  length="5">
  <label>Weight at 6 months</label>
  <input 
    name="month6" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 9 months</label>
  <input 
    name="month9" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 12 months</label>
  <input 
    name="month12" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 15 months</label>
  <input 
    name="month15" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput"
    length="5">
  <label>Weight at 18 months</label>
  <input 
    name="month18" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <label>Weight at 24 months</label>
  <input 
    name="month24" 
    type="text" 
    ng-model="dummyInputs.inputFieldInput" 
    length="5">
  <input
    routerLink="/about"
    routerLinkActive="active"
    type="submit"
    name="submit"
    value="Submit"
  />
  </div>
