<nav class="nav-extended">
  <div class="nav-wrapper light-green darken-1">
    <a href="#" class="brand-logo blue-grey-text text-lighten-5">Thr¡ve!</a>
  </div>
  <div class="nav-content light-green lighten-1">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#test1">About</a></li>
      <li class="tab"><a class="active" href="#test2">Altitude Standards</a></li>
      <li class="tab"><a href="#test4">Compare</a></li>
    </ul>
  </div>
</nav>
<app-about></app-about>
      

<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<app-compare></app-compare>
